.AddTask{
    padding: 20px 56px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    border: 3px solid rgb(44, 101,147);
}

.AddTask input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.1rem;
}